*{
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}


.nav-section{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  align-items: center;
}


.logo a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.1rem;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 60px;
  padding-right: 20px;
  margin: 0;
  gap: 30px;
  cursor: pointer;
}

.nav-item {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto, "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt, sans-serif;
  position: relative;
  cursor: pointer; 
}

/* Стили для выпадающего меню */
.dropdown {
  display: none;
  position: relative;
  top: 0; 
  left: 0;
  width: 100%;
  background-color: #747272;
  padding: 20px 10px;
  gap: 20px;
  z-index: 10; 
}

.dropdown-container{
  display: flex;
}
.nav-item:hover .dropdown {
  display: flex;
}
/* Стили для колонки в выпадающем меню */
.dropdown-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 200px;
}

.sub-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sub-menu a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #000;
}
.sub-menu a:hover{
  text-decoration: underline;
}

.column-title {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto, "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt, sans-serif;
  margin-bottom: 10px;
  
}

img {
  position: relative;
  z-index: 1
}


.nav-item-section {
  display: flex;
}

.nav-menu