*{
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}
.nav-section{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  align-items: center;
}

.logo a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.1rem;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 60px;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.nav-item {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto, "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt, sans-serif;
  position: relative;
  cursor: pointer; 
}

/* Стили для выпадающего меню */
.dropdown {
  /* display: none; */
  position: absolute;
  width: 100vw;
  height: 100vw;
  background-color: #ffffff;
  padding: 20px 10px;
  gap: 20px;
}
.nav-item:hover .dropdown {
  display: flex;
  left: -100vw; 
  transform: translateX(50%);
}
/* Стили для колонки в выпадающем меню */
.dropdown-column {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.sub-menu {
  list-style-type: none;

}

.sub-menu a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #000;
}
.sub-menu a:hover{
  text-decoration: underline;
}

.column-title {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto, "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt, sans-serif;
  margin-bottom: 10px;
}