@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
}



.product {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.product-img-container{
  display: flex;
  justify-content: center;
}

.product-img {
  flex: 1;
  margin-right: 20px;
}

.product-img img{
  width: 500px;
  height: 500px;
}

.gallery-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  /* max-height: 500px; */
  margin-left: 200px;
  

}

.product-title {
  font-family: "Oswald";
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.25;
  text-align: left;
  color: #000000;
}
.carousel-control {
  width: 100%;
  height: 100;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: .2s ,color 0.2s ease;
  margin: 3px 0 3px 0;
  background: #ccc;
}

.arrow-s {
  transition: 0.1s ,color 0.1s;
}

.carousel-control:hover{
  color: #fff;
}
.gallery-wrap button:hover {
  background: #848484;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  height: 400px;
  transition:  0.3s ease-in-out;
}
  

.carousel-box {
  width: 80px; 
  height: 80px; 
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  cursor: pointer;
}

.carousel-img {
  border: 5px solid transparent;
  transition: border-color 0.3s ease;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.selected {
  border-color: #2c2b2b; 
}
.carousel-img, #mainImage {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.product-img img {
  transition: opacity 0.5s ease-in-out;
}

.sale-box p {
  background-color: #6DCFF6;
    font-weight: bold;
    font-family: Roboto, sans-serif, Microsoft JhengHei;
    font-size: 9pt;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #6DCFF6 solid 5pt;
    width: 70px;
}

.product-price {
  margin: 1rem  0 0 0;
  color: #0079be;
  
}

.currency-code {
  font-size: 1rem;
  width: 500;
}
#product-price {
  font-family: "roboto";
  font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25rem;
    color: #0079be;
}



.currency {
  font-size: 0.7rem;
}
.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: .78em;
  letter-spacing: .1em;
  font-weight: 700;
    line-height: 1rem;
    background: #2677b1;
    width: 170px;
    height: 45px;
    padding: 1em 3em;
    margin: 1em 0 1em;
    cursor: pointer;
    transition: 0.2s ,color 0.2s ease;
}
.add-cart:hover{
  background: #3495db;
}

.product-color {
  font-size: 1.3rem;
  margin: 0.5em 0 1em;
}
.product-info{
  height: 500px;
  margin: 0 30px ;
  width: 50%;
}
/* --------------------- */


.product-img-container1 {
  position: relative;
  width: 500px; 
  height: 500px; 
  overflow: hidden;
}

.carousel1 {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out; 
}

.carousel-box1 {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img1 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel-control1 {
  position: absolute;
  width: 80px; 
  height: 100px; 
  background: none;
  border: none;
  font-size: 20px; 
  cursor: pointer;
  color: #000000;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 50%; 
  transform: translateY(-50%); 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.product-img-container1:hover .carousel-control1 {
  background: none;
  opacity: 1; 
}

.arrow-left1 {
  left: 0;
}

.arrow-right1 {
  right: 0;
}

button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.video-wrapper {
  position: relative;
  width: 100%; 
  height:70vh; 
  overflow: hidden; 
}

.video-thumbnail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video-player {
  width: 100%; /* Ширина на весь экран */
  height:100%; /* Высота на весь экран */
}
.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.play-button {
  width: 80px; /* Ширина кнопки */
  height: 80px; /* Высота кнопки */
  font-size: 50px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 100%; /* Круглая форма */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button:hover {
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.8);
}



.information_container{
  display: flex;
  flex-direction: column;
  
}
.walpapperinfo{
  width: 100%;
}

.watch-function-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 50px auto; 
  max-width: 1200px; 
}

.function-info-card {
  text-align: left;
  box-sizing: border-box;
  width: calc(33.333% - 40px); /* Уменьшение ширины карточек */
  padding: 10px;
}

.function-info-card img {
  object-fit: contain;
  height: 220px; /* Уменьшение высоты изображения */
  width: 100%;
  min-width: 250px;
}
.function-info-card h2{
  font-family: Oswald, Roboto Condensed, Roboto, Noto Sans TC, Noto Sans SC, Noto Sans JP, Noto Sans KR, Prompt, sans-serif;
    font-weight: 400;
    letter-spacing: .05rem;
    margin-bottom: 10px;
}
.function-info-card p {
  font-size: .875rem;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0;
}

.nav-bar {
  background: #e6e6e6;
  height: 80px; /* Высота навбара */
  display: flex;
  justify-content: center; /* Центрируем содержимое */
  align-items: center; /* Вертикальное выравнивание по центру */
  width: 100%;
  position: relative; /* Для липкости при прокрутке */
  transition: all 0.3s ease;
  z-index: 1000;
}
.subnav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.subnav li {
  display: flex; 
  align-items: center; 
  height: 80px;
  margin: 0;
  
}

.banner-with-disc {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%; 
  overflow: hidden;
}

.banner-with-disc img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}
.bannertext-container{

  text-align: right;
  width: 35%;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: white; /* Выберите цвет текста, который будет хорошо виден на фоне изображения */
  font-weight: bold;
  z-index: 1;
  max-width: 90%;
}

.disc-right{
  margin: 50px;
}
.banner-with-disc p {
  font-family: Oswald, Roboto Condensed, Roboto, Noto Sans TC, Noto Sans SC, Noto Sans JP, Noto Sans KR, Prompt, sans-serif;
    font-weight: 400;
    letter-spacing: .05rem;
    line-height: 1.25;
    font-size: 3.5rem;
    
}

#bannerwithtext-adaptive{
  display: none; 
}
.subnav a{
  margin: 0 10px;
  height: 80px;
  text-transform: uppercase;
    font-size:0.875em;
    font-weight: 600;
    letter-spacing: .02em;
    padding: 0 1.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}
.subnav a:hover{
  border-bottom: 4px solid #000;
}
.walpapperinfo-adaptive{
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.gallery-product{
  display: flex;
  justify-content: right;
  width: 50%;
}
@media (max-width: 770px) {
  .function-info-card {
    width: 100%;
  }
.walpapperinfo{
  display: none;
}
.walpapperinfo-adaptive{
  display: block;
  justify-content: center;
  width: 100%;
  
}
#bannerwithtext{
  display: none;
}
#bannerwithtext-adaptive{
  display: flex;
}
.disc-right{
  margin: 0;
}



}

@media (max-width: 1200px) {
  .video-wrapper{
    height: 50vh;
  }
  .product-img-container1 {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  .carousel{
    height: 350px;
  }

  .bannertext-container p {
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px){

  .gallery-wrap{
    display: none;
  }

  .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .carousel-control1 {
    opacity: 1;
  }
 .product-info h2{
   text-align: center;
 }
 .sale-box{
  display: flex;
   justify-content: center;
 }
 .add-cart {
  margin: auto; 
}

.add_card{
  margin: 20px;
}

.product-info{
  height: auto;
  margin: 30px 30px ;
  width: 50%;
}

.gallery-product{
  justify-content: center;
}

.nav-bar{
  display: none;
}
.bannertext-container p{
  font-size: 2.5rem;
}

.bannertext-container{
  text-align: right;
  width: 35%;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: white; /* Выберите цвет текста, который будет хорошо виден на фоне изображения */
  font-weight: bold;
  z-index: 1;
  max-width: 90%;
}

}

@media (max-width: 450px) {
  .video-wrapper{
    height:40vh;
  }

  .walpapperinfo{
    display: none;
  }
  .walpapperinfo-adaptive{
    display: block;
    justify-content: center;
    width: 100%;
  }
  .gallery-product{
    overflow: hidden;
    width: 100%;
  }
  .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bannertext-container{
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50% ;
    text-align: center;
    transform: translatex(-50%);
    color: white;
    font-weight: bold;
    z-index: 1;
  }
  .bannertext-container p {
    font-size: 2.5rem;
  }
  .disc-right{
    margin: 0;
  }
}