@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.head-nav {
  position: relative;
}

.burger-menu {
  display: flex;
}

.burger-button {
  display: none;
}
#queryText {
  font-weight: 500;
}
.login-section {
  display: flex;
  gap: 10px;
  width: 200px;

  align-items: end;
  justify-content: end;
  height: 100%;
}

.user-menu {
  height: 100%;
}

.toggle-sign {
  display: none;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.svg-container svg {
  width: 100%;
  height: 100%;
}

.svg-container {
  display: inline-flex;
  justify-content: center;

  align-items: center;
  height: 100%;
  width: 1.7rem;
  border: 4px 0 solid transparent;
}

.svg-container:hover {
  border-bottom: 4px solid #000;
}

.dropdown-user {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  position: absolute;
  padding: 10px;

  left: -70px;
  background-color: #fff;
  z-index: 1000;
  width: 150px;
  box-sizing: border-box;
  transform: translateY(-10px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s;
}

.dropdown-user.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.search-container {
  display: none;
}

.dropdown-user a {
  text-align: left;
  font-size: 0.83rem;
  display: block;
  margin: 10px 20px 10px 10px;
  text-decoration: none;
  color: #000000;
}

.dropdown-user a:hover {
  text-decoration: underline;
  transition:
    0.2s,
    color 0.2s;
}

.nav-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 60px;
  padding: 0 20px;
  width: 100%;
}

.logo a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.1rem;
}

.nav-menu {
  display: flex;
  padding: 0 10px 0 10px;
  list-style-type: none;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.nav-menu:hover {
  border-bottom: 4px solid #000;
}

.nav-item {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto,
    "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt,
    sans-serif;

  cursor: pointer;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.04rem;
  font-weight: 400;
}

/* Стили для выпадающего меню */
.dropdown {
  display: none;
  justify-content: center;
  position: absolute;

  left: 0;
  right: 0;
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 35px 0 35px 0;
  gap: 20px;
  z-index: 1005;
  border: 1px solid #cccc;
}

.dropdown-column {
  padding-right: 80px;
}

.dropdown-container {
  display: flex;
  text-align: left;
}

.nav-item:hover .dropdown {
  display: flex;
}

/* Стили для колонки в выпадающем меню */

.sub-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.sub-menu a {
  text-decoration: none;
}

.sub-menu li {
  line-height: 1.25;
  font-family: Superscripts-Roboto, Roboto, "Noto Sans TC", "Noto Sans SC",
    "Noto Sans JP", "Noto Sans KR", Prompt, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
}

.sub-menu a:hover {
  text-decoration: underline;
}

.column-title {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto,
    "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt,
    sans-serif;
  margin: 20px 0 15px 0;
  border-bottom: 1px solid #d9d9d9;
}

.nav-item-section {
  display: flex;
  align-items: center;

  justify-content: space-between;
  gap: 5px;
}

.new-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 3px #e6e6e6;
  cursor: pointer;
  width: 230px;
  height: 300px;
  align-items: center;
}

.card-link-dropdownmenu {
  text-decoration: none;
}

.new-card img {
  width: 220px;
  margin: 10px;
}

.new-card-discription {
  text-align: center;
}

.new-card-discription h2 {
  font-family: "Oswald";
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.trademark-dropdown {
  font-size: 0.6em;
  vertical-align: super;
  color: #000;
  font-weight: bold;
}

.new-cards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.freeground {
  display: block;
  text-align: center;
  background-color: #000;
  padding: 0.2rem 0 0.2rem 0;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.freeground a {
  color: #fff !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05rem;
  line-height: 2;
  text-decoration: none;
}

.sport_fitness {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.sport_fitness a {
  color: #000;
  text-decoration: none;
  font-optical-sizing: auto;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
}
.search-container2 {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 10px;
  background: #fff;
}
.input-wrapper {
  position: relative;
  width: 100%;
}

.search-page-section {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  justify-content: center;
  position: relative;
}

#searchPageInput {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  font-size: 1.4rem;
  border: 0;
  padding-right: 30px;
}

#searchPageInput:focus {
  outline: none;
  border-radius: 0;
}
.card-link.skeleton {
  background: linear-gradient(-45deg, #dddddd 25%, #f7f7f7 50%, #dddddd 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  height: 500px;
  min-height: 500px;
  display: flex;
  flex: 1 1 30%;
  max-width: 30%;

  width: 500px;
}
.skeleton-loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  margin: 0 20px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.clear-search {
  right: 350px;
  cursor: pointer;
  font-size: 18px;
  color: #999;
}

.clear-search:hover {
  color: #333;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  padding-right: 40px;
  border: 1px solid #ccc;
}
#searchInput:focus {
  outline: none;
  border: 1px solid #000;
  border-radius: 0;
}
#closeSearch {
  position: absolute;
  top: 50%;
  right: 5px;
  padding: 10px;
  transform: translateY(-50%);
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
}

.banner {
  position: relative;
  display: none;
  transition: opacity 1s ease-in-out;
}

.banner.active {
  display: block;
}
.banner img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-text {
  align-items: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: auto;
  text-align: left;
}

.banner-text h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 1.25;
  font-size: 43px;
}

.banner-text p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.04rem;
  max-width: 400px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 20px;
}

.card {
  background: #fff;
  padding: 32px 16px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.card p {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 18px;
}

.card h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.25;
  margin: 1.5rem 0;
  font-size: 35px;
}

.card a {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 30px;
  border: 1px solid #000;
  transition:
    0.2s,
    color 0.2s;
  text-transform: uppercase;
}

.card a:hover {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

.shopall {
  padding: 50px;
}

#every_runner {
  margin: 50px;
  text-align: center;
}

#every_runner p {
  font-family: "Oswald";
  font-style: inherit;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  letter-spacing: 0.05rem;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.box {
  position: relative;

  flex: 1;
}

.box img {
  object-fit: cover;
  cursor: pointer;
  aspect-ratio: 3 / 2;
  transition: filter 0.3s ease;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.box img:hover {
  filter: brightness(50%);
}

.overlay {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.overlay a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  border: solid 1px #ffffff;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  line-height: 1.15;
  transition:
    0.2s,
    color 0.2s;
  color: #fff;
}

.overlay a:hover {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #000;
}

.overlay h2 {
  display: flex;
  text-align: center;
  position: relative;
  color: #ffffff;
  bottom: 30px;
  font-family: "Oswald";
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.video_content iframe {
  width: 100%;
  height: 600px;
}

.black-card {
  background: #000;
}

.content {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 40px;
  color: #fff;
  margin-top: 20px;
}

.content h2 {
  font-family: "Oswald";
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  line-height: 1.25;
  margin: 1.5rem 0;
}

.content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 50px;
}

.content a {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 2rem;
  border: solid 1px #fff;
  transition: 0.2s;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
}
.bannersContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* Контейнер для кнопок управления */
.slider-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

/* Кнопка Play/Pause */
.play-pause-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon,
.pause-icon {
  position: absolute;
  font-size: 14px;

  color: #fff;
  display: none;
}

.play-icon.active {
  display: block;
}

.pause-icon.active {
  display: block;
}

.timer-circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}
.circle-bg {
  fill: none;
}

.circle-progress {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-dasharray: 138;
  stroke-dashoffset: 138;
  transition: stroke-dashoffset 7s linear;
}

.content a:hover {
  background: #fff;
  color: #000;
  text-transform: uppercase;
}

.white-card {
  display: flex;
  justify-content: center;
  background: #ffffff;
  padding: 50px;
}

.white-card h2 {
  color: #000;
  font-family: "Oswald";
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  line-height: 1.25;
}

.container-items {
  border-top: 1px solid #d9d9d9;
  display: flex;
  width: 100%;
}

.sidebar {
  padding: 7px 14px 7px 14px;
  border-right: 1px solid #d9d9d9;
  width: 310px;
  flex-shrink: 0;
}

.feature-list {
  font-size: 0.875rem;
  list-style: none;

  margin: 0;
}

.feature-list li {
  display: flex;
  margin-bottom: 1.2rem;
  padding: 0 1em;
  align-items: center;
  justify-content: space-between;
}

.feature-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  margin-right: 0.5rem;
}

.feature-list input[type="checkbox"]:checked {
  background-color: #000;
}

.feature-list input[type="checkbox"]:checked::after {
  content: "\2713";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 7px;
  font-weight: 700;
}

.feature-list label {
  flex: 1;

  cursor: pointer;
}

.toggle-checkbox {
  display: none;
}

.hidden {
  display: none;
}

.toggle-checkbox:checked + .toggle-label + #connectivity-features {
  display: block;
  padding: 0;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  transition: 0.4s ease;
}

.arrow-white {
  display: none;
  width: 10px;
  height: 10px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  transition: 0.4s ease;
}

.toggle-checkbox:checked + .toggle-label .arrow {
  transform: rotate(-135deg);
}

.sidebar h3 {
  font-weight: 450;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

#connectivity-features {
  margin-top: 1.3rem;
}

.select-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.grid__options {
  display: flex;
  flex-direction: row;

  align-items: center;
  box-sizing: inherit;
  margin: 20px 0 20px 16px;
  box-sizing: border-box;
}

.compare-buttom {
  cursor: pointer;
}

.compare-buttom a {
  background: #000;
  width: 120px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: 0.2s;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  border: solid 1px #fff;
  text-align: center;
  padding: 8px 24px 8px 24px;
  text-decoration: none;
}

.compare-buttom a:hover {
  background: #fff;
  color: #000;
  border: solid 1px #000;
  outline: none;
}

.select-option p {
  margin-right: 1rem;
  font-weight: 550;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.select-option select {
  font-size: 1em;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;

  padding: 0.875rem 7em 0.875rem 0.875rem;
}

.select-option select:focus {
  outline: 1px solid #000;
}

.cards a {
  text-decoration: none;
  color: #000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.searching-page .cards {
  justify-content: flex-start;
  max-width: 1200px;
  flex-wrap: wrap;
}
.searching-page .card-link {
  max-width: 1200px;
  width: calc(25% - 2rem);

  margin: 15px;
}
.searching-page .cards-wrapper-serch {
  display: flex;
  justify-content: center;
  background-color: #eee;
  align-items: center;
  padding: 50px 0;
}

.card-link {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  width: calc(33.333% - 17px);
  margin: 16px 0px 0px 16px;
  box-shadow: 0 2px 3px 1px #e6e6e6;
  cursor: pointer;
  transition: transform 0.2s ease;
  word-wrap: break-word;
}

.card-link:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 5px 2px #e6e6e6;
}

.item-card-img img {
  object-fit: contain;
  height: 300px;
  width: 100%;
}

.product-card-description {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 24px 16px;
  flex-grow: 1;
}

.product-card-description p {
  margin-bottom: 1rem;
}
.searching-page .product-card-description p {
  font-family:
    Superscripts-Roboto,
    Roboto,
    Noto Sans TC,
    Noto Sans SC,
    Noto Sans JP,
    Noto Sans KR,
    Prompt,
    sans-serif;
  margin-bottom: 0.9rem;
  font-size: 0.8rem;
}

.product-card-description h2 {
  font-family: "Oswald";
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.25;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}
.searching-page .product-card-description h2 {
  font-family: "Oswald";
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.25;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}

.product-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 1rem;
  margin: 0 0 1rem;
  flex-grow: 1;
}

.price-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.tm-symbol {
  font-size: 0.7em;
  vertical-align: super;
  font-weight: bold;
  color: #000;
  margin-left: 4px;
}

.tile-container {
  display: flex;
  padding: 8px;
  height: 450px;
}

.tile-card {
  position: relative;
  flex: 1;
  margin: 8px;
  overflow: hidden;
  height: 350px;
}

.tile-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-card_discription {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.tile-card_discription h2 {
  position: relative;
  color: #ffffff;
  bottom: 30px;
  font-family: "Oswald";
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}
.pagination-container {
  margin: 40px 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-btn {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  border: solid 1px #000;
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  line-height: 1.15;
  transition:
    0.2s,
    color 0.2s;
}
.pagination-btn:hover {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
.pagination-btn.active {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}
.tile-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(10px);
  z-index: 1;
}

.singup {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.signup-content h2 {
  color: #000;
  font-family: "Oswald";
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 20px;
}

.signup-content p {
  font-size: 0.7rem;
  padding-top: 20px;
}

.signup-content a {
  font-size: 0.7rem;
}

.email-form input[type="email"],
.email-form button {
  height: 44px;
}

.email-form {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.email-form input[type="email"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-right: none;
}

.email-form button {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: #161616;
  color: #fff;
  cursor: pointer;
  width: 44px;
  border: none;

  transition:
    0.2s,
    color 0.3s;
}

.email-form span {
  display: inline-block;
  font-size: 25px;
}

.email-form button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

footer {
  background: #000;
  display: flex;
  flex-wrap: wrap;
}

.nav_footer {
  width: 100%;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.nav_list a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-list-item button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.nav-list-item span {
  font-family: Superscripts-Oswald, Oswald, "Roboto Condensed", Roboto,
    "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", Prompt,
    sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #fff;
  line-height: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: left;
}

.nav-list-li {
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.nav-list-item {
  line-height: 1.5rem;
}

.nav-list-li a:hover {
  text-decoration: underline;
}

.socialmediafooter h4 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

.socialmediafooter h4:hover {
  text-decoration: underline;
}

.socialmediafooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 3rem;
  padding-left: 30px;
  padding-right: 30px;
}

.fotter_social_media {
  display: flex;
}

.fotter_social_media_items {
  margin: 0 1rem;
}

.white-line-footer {
  width: 100%;
  height: auto;
  margin: 0 30px 0px 30px;
  border-bottom: 4px solid #fff;
}

.foter_nav {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  margin: 10px 30px 10px 30px;
  color: #fff;
  list-style: none;
  font-weight: 500;
  align-items: center;
  color: #fff;
}

.foter_nav_li {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none;
}

.foter_nav_items {
  margin-bottom: 10px;
}

.foter_nav_li a {
  padding-left: 25px;

  color: #fff;
  text-decoration: none;
}

.foter_nav_li a:hover {
  text-decoration: underline;
}

.main-banner-adaptive {
  display: none;
}

.product-filter_dropdown {
  display: none;
}

.cards-content {
  margin-right: 20px;
}

@media (max-width: 1100px) {
  #garmin-logo {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav-section {
    position: relative;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;

    order: 2;
  }

  .burger-menu {
    order: 1;
  }

  .login-section {
    order: 3;
  }

  .burger-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    height: 40px;

    width: 40px;
  }

  .burger-line {
    width: 20px;

    height: 4px;

    background-color: #333;
    margin: 4px 0;

    transition: all 0.5s ease;
  }

  .burger-button.active .burger-line.line1 {
    transform: rotate(45deg) translateY(7px);
  }

  .burger-button.active .burger-line.line2 {
    transform: rotate(-45deg) translateY(-7px);
  }

  .nav-item-section {
    display: none;

    position: absolute;
    width: 100%;
    height: fit-content;
    top: 50px;

    left: 0;
    background-color: #fff;
    z-index: 10;
  }

  .dropdown-user {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown-user a {
    text-align: center;
    margin: 0;
    padding: 10px 25px;
  }
  .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-column {
    padding: 0;
  }

  .nav-item.active {
    border-bottom: 1px solid #000;
  }

  .search-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
  }
  .user-menu {
    position: static;
  }
  .search-input {
    width: 100%;

    padding: 20px 40px;
    border: 2px solid #ccc;
    margin: 15px 15px 0 15px;
  }

  .search-input:focus {
    border-radius: 0;

    outline: none;

    border: 2px solid #000;
  }

  .search-icon {
    position: absolute;
    left: 30px;
    width: 25px;
  }

  .nav-item-section.active {
    display: block;
  }

  .dropdown-container {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }

  .dropdown {
    border: none;
    padding: 0;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
  }

  .new-cards-container {
    display: none;
  }

  .sub-menu li {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    padding: 14px 40px;
    margin: 0;
  }

  .sub-menu a {
    text-decoration: none;
    color: #000;
  }

  .sub-menu a:hover {
    text-decoration: underline;
  }

  .dropdown {
    position: static;
  }

  .column-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 16px 0 16px 25px;
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
  }

  .nav-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 16px;
    padding: 20px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }

  .toggle-sign {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: transform 0.3s ease;
  }

  .nav-menu:hover {
    border-bottom: none;
  }
}

@media (max-width: 1000px) {
  .logo {
    flex: 1;
  }
  .product {
    display: flex;

    align-items: center;
  }

  .nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .main-banner-full {
    display: none;
  }

  .main-banner-adaptive {
    display: flex;
  }

  .banner {
    flex-direction: column;
  }

  .banner-text {
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    top: 80px;
    left: auto;
    text-align: center;
    width: 100%;
    padding: 25px 0;
  }

  .banner-text h1 {
    font-size: 1.9rem;
  }

  .banner-p {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .container-items {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: none;
    width: 100%;
  }

  .product-filter_dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-top: 1px solid #d9d9d9;
    font-family: "roboto";
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .product-filter_dropdown .arrow {
    transition: 0.3s ease;
  }

  .product-filter_dropdown.active .arrow {
    transform: rotate(-135deg);
  }

  .product-filter_dropdown p {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
  }

  .nav_list {
    display: block;
  }

  .nav-list-li {
    display: none;
    list-style: none;
    padding-left: 20px;
  }

  .nav-list-item {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .nav-list-li li {
    margin-bottom: 20px;
  }

  .nav-list-item.active .nav-list-li {
    display: block;

    padding-bottom: 20px;
  }

  .arrow-white {
    display: flex;
  }

  .nav-list-item.active .arrow-white {
    transform: rotate(225deg);
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
  }

  .nav-list-item.active {
    background: #fff;
  }

  .nav-list-item.active span {
    color: #000;
  }

  .nav-list-item.active a {
    color: #000;
  }

  .nav_list {
    padding: 30px 0 30px 0;
  }

  .socialmediafooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .socialmediafooter h4 {
    padding: 20px;
  }

  .foter_nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .foter_nav_li {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0 50px 0;
  }
}

@media (max-width: 1200px) {
  .cards .card-link {
    flex: 1 1 calc(50% - 20px);
    /* Две карточки в ряд */
  }
  .card-link.skeleton {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 755px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .box img {
    height: 300px;
  }

  .tile-container {
    flex-direction: column;
    height: 1150px;
  }

  .product-card-description h2 {
    font-family: "Oswald";
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.25;
    text-align: left;
    color: #000000;
    margin-bottom: 16px;
  }

  .product-description {
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-size: 0.8rem;
    margin: 0 0 1rem;
    flex-grow: 1;
  }

  .card-link {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 17px);
    margin: 0;
    box-shadow: 0 2px 3px 1px #e6e6e6;
    cursor: pointer;
    transition: transform 0.2s ease;
    word-wrap: break-word;
  }

  .cards {
    margin: 10px 0;
    gap: 10px;
  }

  .grid__options {
    margin: 20px 0;
  }

  .item-card-img img {
    object-fit: contain;
    height: 200px;
    width: 100%;
  }

  .cards-content {
    margin: 20px;
  }
}

@media (max-width: 450px) {
  .cards .card-link {
    flex: 1 1 calc(100% - 20px);
    margin: 10px 0 10px 0;
  }
  .searching-page .cards-wrapper-serch {
    padding: 20px;
  }
  .card-link.skeleton {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .login-section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: static;
    width: auto;
  }
  .email-form {
    width: auto;
  }
  .logo {
    flex: 1;
    text-align: center;
  }

  #supportSvg {
    display: none;
  }

  #searchingSvg {
    display: none;
  }

  .foter_nav_li {
    display: flex;
    width: 100%;

    justify-content: center;
    text-decoration: none;
    list-style-type: none;
  }

  .head-nav {
    position: relative;
  }

  .dropdown-user {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 100vw;
    box-sizing: border-box;
  }

  .dropdown-user a {
    text-align: center;
    margin: 0;
    padding: 10px 25px;
  }

  .select-option p {
    margin-right: 1rem;
    font-weight: 550;
    font-size: 0.775rem;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }

  .select-option select {
    font-size: 0.8em;
    width: 150px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    margin: 0;
    padding: 0.875rem;
  }

  .user-menu {
    position: static;
  }

  .content h2 {
    font-size: 1.4rem;
  }

  .content p {
    font-size: 1rem;
    padding: 0;
  }

  .content a {
    font-size: 0.8rem;
  }

  #every_runner {
    margin: 10px;
  }

  #every_runner p {
    font-size: 1.5rem;
  }

  .svg-container {
    margin-right: 15px;
  }

  .shopall {
    padding: 10px;
  }
}
