@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

.burger-menu {
  position: relative;
}

.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем линии */
  align-items: center; /* Центрируем линии */
  height: 40px; /* Высота кнопки */
  width: 40px; /* Ширина кнопки */
}

.burger-line {
  width: 20px; /* Ширина полосы */
  height: 4px; /* Высота полосы */
  background-color: #333;
  margin: 4px 0; /* Отступ между полосами */
  transition: all 0.5s ease; /* Плавный переход */
}

/* Анимация для "X" */
.burger-button.active .burger-line.line1 {
  transform: rotate(45deg) translateY(7px); /* Сдвиг вниз и поворот */
}

.burger-button.active .burger-line.line2 {
  transform: rotate(-45deg) translateY(-7px); /* Сдвиг вверх и поворот */
}

.nav-item-section {
  display: none; /* Скрыто по умолчанию */
  position: absolute;
  width: 100%;
  top: 50px; /* Позиционируем меню под кнопкой */
  left: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень под меню */
}

.nav-menu {
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin:0  16px;
  padding: 20px 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;

}

.nav-item:hover {
  background-color: #f0f0f0; 

}
.nav-item.active{
  border-bottom: 2px solid #000;
}


.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 20px 40px;
  border: 2px solid #ccc;
  margin: 0 15px; /* Отступ слева от SVG */
}

.search-input:focus {
  border-radius: 0; /* Радиус при фокусе равен 0 */
  outline: none; /* Убираем стандартное обрамление */
  border: 2px solid #000; /* Цвет границы при фокусе */
}

.search-icon {
  position: absolute;
  left: 30px;
  width: 25px; /* Ширина SVG */
}


/* Стиль для отображения меню */
.nav-item-section.active {
  display: block; /* Показываем меню */
}

.dropdown-container{
  margin: 0 16px;
}
.sub-menu{
  list-style: none;
  font-family: "Roboto";
  font-size: 0.8rem;
  letter-spacing: .05rem;


}
.sub-menu li{
 padding:  14px 40px;

}
.sub-menu a{
  text-decoration: none;
  color: #000;
}
.sub-menu a:hover{
  text-decoration: underline;
}

.column-title{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 16px 0 16px 25px;
  cursor: pointer;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.toggle-sign {
  display: flex;
  font-weight: 600;
  align-items: center; 
  justify-content: center; 
  font-size: 25px;
  transition: transform 0.3s ease;
}

